/* General Styles */

html {
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
}

body {
  background-color: #f0e9d7;
  color: #315F8D;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: circle;
}

ol li {
  font-size: 1.15em;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Yesteryear', cursive;
  font-size: 3.25em;
  font-weight: 400;
  margin: 0;
}

h2 {
  background: rgba(255, 255, 255, .75);
  font-family: 'Yesteryear', cursive;
  font-size: 2em;
  font-weight: 400;
  margin: 20px;
  padding: 3% 5%;
  border-radius: 10px;
}

h3 {
  font-weight: 700;
  line-height: 1.55em;
  margin: 0;
  text-transform: capitalize;
}

p {
  font-size: 1.2em;
  line-height: 1.3em;
}

p span {
  font-weight: 700;
}

img {
  width: 80%;
}

figure {
  margin: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  min-width: 350px;
  width: 80%;
}

.hide {
  display: none;
}

/* ---------- Header - Footer Styles ----------  */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Header Styles */
header {
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 55%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul li {
  font-weight: 700;
  text-transform: uppercase;
}

header nav ul li a {
  color:#315F8D;
}

header nav ul li a:hover {
  color: #4b220c;
}

/* Footer Styles */

footer .social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .social-icons p,
footer .social-icons a,
footer .social-icons a:visited,
footer .scoial-icons a:link {
  color:#315F8D;
  font-size: 1.5em;
  margin: 0 10px;
}

footer p span {
  font-weight: 200;
}

/* ------------------------ Mobile Styles - Homepage ------------------------ */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

main section {
  margin-bottom: 15px;
  border-radius: 15px;
  min-height: 250px;
}

/* Image Blocks */

.image-block,
.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 15px;
}

.book-cover img,
.image-block img {
  border-radius: 15px;
}

.first-img {
  background: url(../img/cc-desserts-01.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}

.second-img {
  background: url(../img/cc-vietnamese-01.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}

.third-img {
  background: url(../img/cc-nopalito-01.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}

.fourth-img {
  background: url(../img/cc-chinese-01.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}

.last-img {
  background: url(../img/cc-veggies.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}

/* Text Block */

.text-block {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 20px;
  box-sizing: border-box;
}

/* ==========================================================================
   Dinners Page
   ========================================================================== */

.book-cover img {
  width: 100%;
}

#current-book,
#past-books {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


/* ==========================================================================
   FAQ Page
   ========================================================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


@media only screen and (min-width: 768px) {
  /* Tablet styles */

  p {
    font-size: 1em;
  }

  ol li {
    font-size: .95em;
  }

  h3 {
    font-size: 1.25em;
  }

  .content-wrapper {
    max-width: 640px;
    justify-content: space-between;
  }

  /* Header */
  header {
    justify-content: space-around;
    padding: 30px 0 20px 0;
  }

  header .content-wrapper {
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  header nav {
    width: 40%;
  }

  header nav ul {
    justify-content: space-between;
  }

  header nav ul li {
    font-size: 1.125em;
  }

  /* Main Area */

  main section {
    min-height: 300px;
  }
  
  /* Image Block */

  .image-block {
    width: 48%;
  }

  .last-img {
    display: none;
  }

  /* Text Block */

  .text-block {
    display: flex;
    justify-content: center; 
    width: 48%;
  }

  .text-block h3 {
    text-align: center;
  }

  /* Footer */
    
  footer .content-wrapper {
    display: flex;
    flex-direction: row;
    }

  footer .social-icons {
    justify-content: flex-end;
    flex-flow: row wrap;
  }

  footer .social-icons {
    margin: 0 5px;
  }

  footer p span {
    font-size: 1em;
  }
   

/* ==========================================================================
   Dinners Page -- Tablet
   ========================================================================== */
   .book-cover {
    width: 48%;
  }

  .book-cover img {
    margin-right: 25px;
  }

  #current-book .text-block,
  #past-books .text-block {
    justify-content: start;
    min-height: 307px;
    padding: 8px 15px 0 15px;
  } 

  #current-book .text-block p,
  #past-books .text-block p {
    margin-bottom: 0;
  }

  #current-book .text-block ul,
  #past-books .text-block ul {
    list-style-type: circle;
    padding-left: 30px;
  }

  #current-book .text-block ul li,
  #past-books .text-block ul li {
    font-size: .85em;
  }

}
@media only screen and (min-width: 1200px) {
  /* Desktop styles here */
  header {
    padding: 15px 0;
  }

  .content-wrapper {
    max-width: 960px;
  }

  h1 {
    font-size: 4.75em;
  }
  
  h2 {
    font-size: 2.5em;
    text-align: center;
  }

  h3 {
    font-size: 2.05em;
    line-height: 1.3;
    padding: 20px 0 0;
  }

  p {
    font-size: 1.3em;
    line-height: 1.4;
  }
  
  ol li {
    font-size: 1.4em; 
  }

  header nav ul li {
    font-size: 1.5em;
  }

  /* Image Block */

  .image-block {
    width: 32%;
  }

  .last-img {
    display: block;
  }
  
  /* Text Block */
  
  .text-block {
    width: 66%;
  }

 /* Footer */

  footer .social-icons p,
  footer .social-icons a,
  footer .social-icons a:visited,
  footer .scoial-icons a:link {
  font-size: 1.75em;
  }

/* ==========================================================================
   Dinners Page -- Desktop
   ========================================================================== */
  .book-cover {
    width: 35%;
  }

  #current-book .text-block,
  #past-books .text-block {
    width: 58%;
    min-height: 335px;
    padding: 8px 40px 0;
  }

  #current-book .text-block ul li,
  #past-books .text-block ul li {
    font-size: 1.2em;
  }
 
}